@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .responcive{
        @apply  flex fixed h-full w-full left-0 bg-white
    }
}
 
.animation{
    /* background-color: black; */
    width: 4000px;
    animation: ani 40s infinite ease;
    
}
/* 560 */
@keyframes ani{
    0%{
        transform: translateX(0px);
    }
/* 25%{
    transform: translateX(-800px);

}
50%{
    transform: translateX(-1600px);

}
75%{
    transform: translateX(-2400px);

} */
    100%{
        transform: translateX(-2500px);
    }
}